ANN Prediction

In [100]:
import pandas as pd
import numpy as np
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

In [101]:
## load model
model = load_model('model.h5')

## load scaler & encoders
with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)
    
with open('one_hot_encoder_geo.pkl', 'rb') as f:
    ohe_geo = pickle.load(f)
    
with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [102]:
input_data = {
    'CreditScore': 860,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 40,
    'Tenure': 7,
    'Balance': 600000,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000,
}

In [103]:
geo_encoded = ohe_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Code_Projects\llm-udemy\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [104]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,860,France,Female,40,7,600000,3,1,1,50000

In [105]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

In [106]:
## concat data
input_df = pd.concat([input_df.drop('Geography', axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,860,0,40,7,600000,3,1,1,50000,1.0,0.0,0.0

In [107]:
#scalling data
input_scalled = scaler.transform(input_df)

In [108]:
## prediction
prediction = model.predict(input_scalled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step

array([[0.7291087]], dtype=float32)

In [109]:
prediction[0][0] ## probabilty

0.7291087